/* .nav{
    background-color: black;
} */
.header-right p{
    margin-right:8px;
    font-Size:13px;
    font-weight:bold;
    cursor:pointer
}
input{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border-color: greenyellow;
}
.search-btn{
    height: 30px;
    border-radius: 5px;
    border-color: greenyellow;
}
.btn{
   
}
